// i通用样式
[class*="iBox-icon"] {
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left center;
}
// 提示
.iBox-icon__tips {
	background-image: url("../icon/tips.png");
}
// 小圆点
.iBox-icon__circle {
	background-image: url("../icon/circle.png");
}