// i通用样式
[class^="icon-"] {
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left center;
}
// 提示
.icon-tips {
	background-image: url("../icon/tips.png");
}
// 小圆点
.icon-circle {
	background-image: url("../icon/circle.png");
}
